<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chy.boot.core.mapper.DemoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chy.boot.core.entity.Demo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="create_at" property="createdAt"/>
        <result column="update_at" property="updatedAt"/>
        <result column="create_by" property="createdBy"/>
        <result column="update_by" property="updatedAt"/>
        <result column="delete_at" property="deletedAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, create_at, update_at, create_by, update_by, delete_at
    </sql>

</mapper>


        <?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chy.boot.core.mapper.UcWxqySuiteDao">

<resultMap type="com.chy.boot.core.entity.UcWxqySuite" id="UcWxqySuiteMap">
    <result property="qysSuiteid" column="qys_suiteid" jdbcType="VARCHAR"/>
    <result property="qysSuiteSecret" column="qys_suite_secret" jdbcType="VARCHAR"/>
    <result property="qysSuiteAeskey" column="qys_suite_aeskey" jdbcType="VARCHAR"/>
    <result property="qysToken" column="qys_token" jdbcType="VARCHAR"/>
    <result property="qysTicket" column="qys_ticket" jdbcType="VARCHAR"/>
    <result property="qysIps" column="qys_ips" jdbcType="OTHER"/>
    <result property="qysSuiteAccessToken" column="qys_suite_access_token" jdbcType="VARCHAR"/>
    <result property="qysAccessTokenExpires" column="qys_access_token_expires" jdbcType="OTHER"/>
    <result property="qysPreAuthCode" column="qys_pre_auth_code" jdbcType="VARCHAR"/>
    <result property="qysAuthCodeExpires" column="qys_auth_code_expires" jdbcType="OTHER"/>
    <result property="qysProvider" column="qys_provider" jdbcType="VARCHAR"/>
    <result property="qysStatus" column="qys_status" jdbcType="OTHER"/>
    <result property="qysCreated" column="qys_created" jdbcType="OTHER"/>
    <result property="qysUpdated" column="qys_updated" jdbcType="OTHER"/>
    <result property="qysDeleted" column="qys_deleted" jdbcType="OTHER"/>
</resultMap>

<!--查询单个-->
<select id="queryById" resultMap="UcWxqySuiteMap">
    select qys_suiteid,
           qys_suite_secret,
           qys_suite_aeskey,
           qys_token,
           qys_ticket,
           qys_ips,
           qys_suite_access_token,
           qys_access_token_expires,
           qys_pre_auth_code,
           qys_auth_code_expires,
           qys_provider,
           qys_status,
           qys_created,
           qys_updated,
           qys_deleted
    from uc_wxqy_suite
    where qys_suiteid = #{qysSuiteid}
</select>

<!--查询指定行数据-->
<select id="queryAllByLimit" resultMap="UcWxqySuiteMap">
    select qys_suiteid,
           qys_suite_secret,
           qys_suite_aeskey,
           qys_token,
           qys_ticket,
           qys_ips,
           qys_suite_access_token,
           qys_access_token_expires,
           qys_pre_auth_code,
           qys_auth_code_expires,
           qys_provider,
           qys_status,
           qys_created,
           qys_updated,
           qys_deleted
    from uc_wxqy_suite
    limit #{offset}, #{limit}
</select>

<!--通过实体作为筛选条件查询-->
<select id="queryAll" resultMap="UcWxqySuiteMap">
    select
    qys_suiteid, qys_suite_secret, qys_suite_aeskey, qys_token, qys_ticket, qys_ips, qys_suite_access_token,
    qys_access_token_expires, qys_pre_auth_code, qys_auth_code_expires, qys_provider, qys_status, qys_created,
    qys_updated, qys_deleted
    from uc_wxqy_suite
    <where>
        <if test="qysSuiteid != null and qysSuiteid != ''">
            and qys_suiteid = #{qysSuiteid}
        </if>
        <if test="qysSuiteSecret != null and qysSuiteSecret != ''">
            and qys_suite_secret = #{qysSuiteSecret}
        </if>
        <if test="qysSuiteAeskey != null and qysSuiteAeskey != ''">
            and qys_suite_aeskey = #{qysSuiteAeskey}
        </if>
        <if test="qysToken != null and qysToken != ''">
            and qys_token = #{qysToken}
        </if>
        <if test="qysTicket != null and qysTicket != ''">
            and qys_ticket = #{qysTicket}
        </if>
        <if test="qysIps != null">
            and qys_ips = #{qysIps}
        </if>
        <if test="qysSuiteAccessToken != null and qysSuiteAccessToken != ''">
            and qys_suite_access_token = #{qysSuiteAccessToken}
        </if>
        <if test="qysAccessTokenExpires != null">
            and qys_access_token_expires = #{qysAccessTokenExpires}
        </if>
        <if test="qysPreAuthCode != null and qysPreAuthCode != ''">
            and qys_pre_auth_code = #{qysPreAuthCode}
        </if>
        <if test="qysAuthCodeExpires != null">
            and qys_auth_code_expires = #{qysAuthCodeExpires}
        </if>
        <if test="qysProvider != null and qysProvider != ''">
            and qys_provider = #{qysProvider}
        </if>
        <if test="qysStatus != null">
            and qys_status = #{qysStatus}
        </if>
        <if test="qysCreated != null">
            and qys_created = #{qysCreated}
        </if>
        <if test="qysUpdated != null">
            and qys_updated = #{qysUpdated}
        </if>
        <if test="qysDeleted != null">
            and qys_deleted = #{qysDeleted}
        </if>
    </where>
</select>

<!--新增所有列-->
<insert id="insert" keyProperty="qysSuiteid" useGeneratedKeys="true">
    insert into uc_wxqy_suite(qys_suiteid, qys_suite_secret, qys_suite_aeskey, qys_token, qys_ticket, qys_ips,
                              qys_suite_access_token, qys_access_token_expires, qys_pre_auth_code,
                              qys_auth_code_expires, qys_provider, qys_status, qys_created, qys_updated,
                              qys_deleted)
    values (#{qysSuiteid}, #{qysSuiteSecret}, #{qysSuiteAeskey}, #{qysToken}, #{qysTicket}, #{qysIps},
            #{qysSuiteAccessToken},
            #{qysAccessTokenExpires}, #{qysPreAuthCode}, #{qysAuthCodeExpires}, #{qysProvider}, #{qysStatus},
            #{qysCreated}, #{qysUpdated}, #{qysDeleted})
</insert>

<insert id="insertBatch" keyProperty="qysSuiteid" useGeneratedKeys="true">
    insert into uc_wxqy_suite(qys_suite_secret, qys_suite_aeskey, qys_token, qys_ticket, qys_ips,
    qys_suite_access_token, qys_access_token_expires, qys_pre_auth_code, qys_auth_code_expires, qys_provider,
    qys_status, qys_created, qys_updated, qys_deleted)
    values
    <foreach collection="entities" item="entity" separator=",">
        (#{entity.qysSuiteSecret}, #{entity.qysSuiteAeskey}, #{entity.qysToken}, #{entity.qysTicket},
        #{entity.qysIps}, #{entity.qysSuiteAccessToken}, #{entity.qysAccessTokenExpires}, #{entity.qysPreAuthCode},
        #{entity.qysAuthCodeExpires}, #{entity.qysProvider}, #{entity.qysStatus}, #{entity.qysCreated},
        #{entity.qysUpdated}, #{entity.qysDeleted})
    </foreach>
</insert>

<insert id="insertOrUpdateBatch" keyProperty="qysSuiteid" useGeneratedKeys="true">
    insert into uc_wxqy_suite(qys_suite_secret, qys_suite_aeskey, qys_token, qys_ticket, qys_ips,
    qys_suite_access_token, qys_access_token_expires, qys_pre_auth_code, qys_auth_code_expires, qys_provider,
    qys_status, qys_created, qys_updated, qys_deleted)
    values
    <foreach collection="entities" item="entity" separator=",">
        (#{entity.qysSuiteSecret}, #{entity.qysSuiteAeskey}, #{entity.qysToken}, #{entity.qysTicket},
        #{entity.qysIps}, #{entity.qysSuiteAccessToken}, #{entity.qysAccessTokenExpires}, #{entity.qysPreAuthCode},
        #{entity.qysAuthCodeExpires}, #{entity.qysProvider}, #{entity.qysStatus}, #{entity.qysCreated},
        #{entity.qysUpdated}, #{entity.qysDeleted})
    </foreach>
    on duplicate key update
    qys_suite_secret = values(qys_suite_secret) , qys_suite_aeskey = values(qys_suite_aeskey) , qys_token =
    values(qys_token) , qys_ticket = values(qys_ticket) , qys_ips = values(qys_ips) , qys_suite_access_token =
    values(qys_suite_access_token) , qys_access_token_expires = values(qys_access_token_expires) , qys_pre_auth_code
    = values(qys_pre_auth_code) , qys_auth_code_expires = values(qys_auth_code_expires) , qys_provider =
    values(qys_provider) , qys_status = values(qys_status) , qys_created = values(qys_created) , qys_updated =
    values(qys_updated) , qys_deleted = values(qys_deleted)
</insert>

<!--通过主键修改数据-->
<update id="update">
    update uc_wxqy_suite
    <set>
        <if test="qysSuiteSecret != null and qysSuiteSecret != ''">
            qys_suite_secret = #{qysSuiteSecret},
        </if>
        <if test="qysSuiteAeskey != null and qysSuiteAeskey != ''">
            qys_suite_aeskey = #{qysSuiteAeskey},
        </if>
        <if test="qysToken != null and qysToken != ''">
            qys_token = #{qysToken},
        </if>
        <if test="qysTicket != null and qysTicket != ''">
            qys_ticket = #{qysTicket},
        </if>
        <if test="qysIps != null">
            qys_ips = #{qysIps},
        </if>
        <if test="qysSuiteAccessToken != null and qysSuiteAccessToken != ''">
            qys_suite_access_token = #{qysSuiteAccessToken},
        </if>
        <if test="qysAccessTokenExpires != null">
            qys_access_token_expires = #{qysAccessTokenExpires},
        </if>
        <if test="qysPreAuthCode != null and qysPreAuthCode != ''">
            qys_pre_auth_code = #{qysPreAuthCode},
        </if>
        <if test="qysAuthCodeExpires != null">
            qys_auth_code_expires = #{qysAuthCodeExpires},
        </if>
        <if test="qysProvider != null and qysProvider != ''">
            qys_provider = #{qysProvider},
        </if>
        <if test="qysStatus != null">
            qys_status = #{qysStatus},
        </if>
        <if test="qysCreated != null">
            qys_created = #{qysCreated},
        </if>
        <if test="qysUpdated != null">
            qys_updated = #{qysUpdated},
        </if>
        <if test="qysDeleted != null">
            qys_deleted = #{qysDeleted},
        </if>
    </set>
    where qys_suiteid = #{qysSuiteid}
</update>

<!--通过主键删除-->
<delete id="deleteById">
    delete
    from uc_wxqy_suite
    where qys_suiteid = #{qysSuiteid}
</delete>

</mapper>